<h1>Edit Product</h1>
<form #editProductForm="ngForm" (ngSubmit)="updateProduct()">
  <div class="mb-3">
    <label for="productName" class="form-label">Name:</label>
    <input type="text" id="productName" class="form-control" [(ngModel)]="product.name" #prdName="ngModel" name="name"
      required pattern="^[a-zA-Z0-9\s]{3,30}$" />
    @if(prdName.invalid && prdName.touched){
    <div class="text-danger">
      <p *ngIf="prdName.errors?.['required']">The name is required</p>
      <p *ngIf="prdName.errors?.['pattern']">The name must be between 3 and 30 characters</p>
    </div>
    }
  </div>
  <div class="mb-3">
    <label for="productPrice" class="form-label">Price:</label>
    <input type="number" id="productPrice" class="form-control" [(ngModel)]="product.price" name="price" required />
  </div>
  <div class="mb-3">
    <label for="productQuantity" class="form-label">Quantity:</label>
    <input type="number" id="productQuantity" class="form-control" [(ngModel)]="product.quantity" name="quantity" />
  </div>
  <div class="mb-3">
    <label for="productImage" class="form-label">Image URL:</label>
    <input type="file" id="productImage" class="form-control" [(ngModel)]="product.imageUrl" name="imageUrl" />
  </div>
  <div class="mb-3">
    <label for="productCategory" class="form-label">Category:</label>
    <select id="productCategory" class="form-select" [(ngModel)]="product.catId" name="catId">
      <option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="editProductForm.invalid">
    Save Changes
  </button>
</form>
